@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body{
    background-image: linear-gradient(#222222,#151515,#141414,#131313,#121212 , white);
    width: 100%;

}
.flex{
    display: flex;
}

.flex5{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

#sidemenu{
    background-color: #000000;
    color: white;
    width: 250px;
    font-size: small;
    font-weight: bold;
} 

p{
    color: white;
}

#grey-border{
    border: 1px solid #282828;
    background-color: #282828;
    width: 230px;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 3px;
}

#logo{
    margin: 26px 0 29px 25px;
    width: 130px;
    height:38px;
}

.small-icon{
    width: 10px;
    height: 10px;
    padding: 5px 0 0 10px;
    position: absolute;
    z-index: 1;
}
.align2{
    padding: 10px 0 0 25px;
}

.align2>div{
    padding: 8px 0;
}

.align2>div>p{
    padding-left: 20px;
}

.inline{
    display:inline;
}

.align3{
    padding: 10px 0 0 25px;
}

.align3>p{
padding: 7px;
}

#downward-arrow{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.align4{
    padding:40px 0 0 30px;
    margin-top: -5px;
}

#heading{
    padding-bottom: 10px;
}
.sidemenu-img1{
    width: 20px;
    height: 20px;
    margin: 0 18px 20px 30px;
}

.sidemenu-img2{
    width: 20px;
    height: 20px;
    margin: 100 18px 20px 30px;
    margin-left: 5px;
}

#heart{
    position: absolute;
    left: 290px;
    top: 165px;
}
#top-arrow{
    width:80px;
    height: 30px;
}
.flex1{
    display: flex;
    justify-content: space-between;
}

#home-page{
    padding-left: 26px;
    padding-top: 20px;
}

#profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

#arrow{
    width: 20px;
    padding-top: 4px;
}

#button1{
    width: 110px;
    height: 33px;
    background-color: black;
    border: 1px solid black;
    border-radius: 80px;
}

#button1>p{
    padding: 6px 6px 0  10px;
    font-weight: 700px;
}

#playlist-top{
    padding-top: 30px;
    color:white;
    width: 1300px;
}

.playlist-img{
    width: 80px;
    height: 80px;
}

.grey{
    border:1px solid #303030;
    width: 300px;
    background-color: #303030;
    margin: 20px 10px 0 0;
    border-radius: 5px ;
}

.grey>p {
    padding: 30px 0 0 20px;
}

#shows-section{
    color: white;
    padding-top: 40px;
}

.shows-img{
    width: 150px;
    height: 150px;
}

.black-section{
    border: 1px solid #181818;
    width: 160px;
    height: 180px;
    background-color: #181818;
    padding: 10px 10px 40px 10px;
    margin: 20px 30px 0 0px;
}

.black-section>h3{
    padding-top: 10px;
    font-size: medium;
}

.black-section>p{
    padding-top: 10px;
    font-size: small;
    opacity: 0.6;
   
}
footer{
    position: absolute;
    bottom: -3%;
    width: 100%;

}

#music-bar{
    height: 90px;
    background-color: #181818;
    color: white;

}

#playing-song{
    width: 60px;
    height: 60px;
    margin: 10px 0 0 20px ;
}
#song-name>h5{
    padding: 20px 0 0 20px;
    
}
#song-name>p{
    padding:5px 0 0 20px;
    font-size: 12px;
    opacity: 0.5;
}

#green-heart{
    width: 20px;
    height: 20px;
    margin: 30px 0 0 20px;
}

#music-player{
    height: 50px;
    width: 510px;
    padding: 10px 0 0 30px;
}


.flex4{
    display: flex;
    justify-content: space-between;
}
#right-option{
    padding: 35px 50px 0 0;
    height: 30px;
    width: 240px;
}

#text>p{
    padding-left: 1220px;
    color: black;
    font-size: small;
    font-weight: bold;
    padding-top: 2px;
}

#text{
    background-color: #1ED760;
    height: 30px;
    border-bottom:#1ED760;
}


@media screen and (max-width:480px){
    #sidemenu{
        display: none;
    }

    #home-page{
        padding-left: 3%;
    }
    #top-arrow{
        display: none;
    }
    
    .flex1{
        justify-content: flex-end;
        width: 350px;

    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2,180px);
    }
    
    body{
        width: 100%;
        height: 100%;
       
    }
    #playlist-top{
        width: 300px;
    }

    #heart{
        position: absolute;
        left: 28px;
        top: 152px;
        width: 20px;
    }
    .playlist-img{
        width: 50px;
        height: 50px;
    }

    .grey>p {
        padding: 15px 0 0 10px;
        width: 130px;
    }
    .grey{
        width: 170px;
        height: 50px; 
     }

     .grid1{
        display: grid;
        grid-template-columns: repeat(2,180px); 
     }

     .align-item>p{
        padding: 5px 0 0 10px;
     }

     #music-player{
        height: 30px;
        width: 200px;
        padding: 13% 0 0 30px;
    }

    #right-option{
        padding: 50px 10px 0 5px;
        height: 10px;
        width: 80px;
    }
     
    #shows-section{
        padding-bottom: 105px;
    }

    .shows-img{
        width: 140px;
        height: 140px;
    }
    
    .black-section{
        width: 145px;
    }
    footer{
      position: fixed;
      top: 83%;
    }

    #playing-song{
        width: 40px;
        height: 40px;
        margin: 10px 0 5px 10px ;
    }

    .flex5{
        display: flex;
        flex-wrap: wrap; 
        width: 50px;
    } 

    #text{
        height: 30px;
        width: 100%;
    }

    #song-name>h5{
        padding: 3px 0 0 10px;
        font-size: 10px;
        width: 80px;
    }
    #song-name>p{
        padding:5px 0 0 10px;
        font-size: 8px;
    }

    #text>p{
       padding-left: 230px;
       font-size: 8px;
    }


}




